<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>文件管理系统</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .row h4{
            text-align: center;
        }
        .column1{
            float:left;
            width:200px;
            margin-left:40px;
        }
        .column2{
            float:left;
            width:200px;

        }
        .upload{
            margin-left:40px;
        }
    </style>

  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">文件管理</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">全部文件</a></li>
            <li><a href="/up">上传</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
       <div class="row">
           <form  style="width:40%;" method="post" action="#" enctype="multipart/form-data">
               <div class="form-group">
                   <label class="column1">选择文件夹&nbsp;&nbsp;<a class="btn btn-default btn-sm" id="fileBtn"  >新建</a></label>
                   <select  name="wenjianjia" class="column2" >
                       <% for(var i = 0 ; i < albums.length ; i++){%>
                           <option><%= albums[i] %></option>
                       <%}%>
                   </select>
               </div>
               <br/><br/><br/>
               <div class="form-group">
                   <label for="exampleInputFile" class="column1">选择图片(尺寸小于2M)</label>
                   <input type="file" id="exampleInputFile"  name="tupian" class="column2">
               </div>
               <br/><br/><br/>
               <button type="submit" class="btn btn-primary upload" >上传</button>
           </form>
       </div>
    </div>

    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <script>
        $("#fileBtn").click(function(){
            layer.prompt({title: '文件夹的名字？'}, function(name){
                if(name != ''){
                    window.location.href = "/createfile?name="+name;
                }
            });
        })
    </script>
  </body>
</html>